/* mentor.css */

/* Mentor Container */
.mentor-container {
    background-color: #4a5568;
    color: #fff;
    padding: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  /* Mentor Header */
  .mentor-header {
    margin-bottom: 1rem;
  }
  
  /* Search Bar */
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    border: 1px solid #cbd5e0;
    padding: 0.75rem;
    border-radius: 0.25rem;
    background-color: #2d3748;
    color: #fff;
    margin-right: 1rem;
    flex-grow: 1;
  }
  
  .filter-button {
    background-color: #4a5568;
    color: #fff;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-button:hover {
    background-color: #718096;
  }
  
  /* User List */
  .user-list {
    border-top: 1px solid #cbd5e0;
    padding: 30px;

  }
  
  /* User List Header */
  .user-list-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #cbd5e0;
    padding: 0.75rem 0;
  }
  
  .user-column {
    flex-grow: 1;
    text-align: center;
  }
  
  /* User Item */
  .user-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid #cbd5e0;
  }
  
  .user-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
  }
  
  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .user-details {
    flex-grow: 1;
    max-width: 50%;
  }
  
  .email {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .account-type {
    color: #a0aec0;
  }
  
  .revenue {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .view-details-button {
    background-color: #4299e1;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-details-button:hover {
    background-color: #3182ce;
  }
  